<% content_for :title, t(".title") %>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4"><%= t(".welcome_message") %></h1>
    <p class="lead"><%= t(".quality_description") %></p>
    <%= link_to t(".shop_now"), products_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="section-title">
        <%= t(".featured_products") %>
        <%= link_to t(".view_all_products"), products_path, class: "btn btn-outline-primary btn-sm pull-right" %>
      </h2>
      
      <% if @featured_products.any? %>
        <div class="row">
          <% @featured_products.each do |product| %>
            <div class="col-md-3 col-sm-6">
              <%= render "shared/product_card", product: product %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="alert alert-info">
          <p class="text-center"><%= t(".no_featured_products") %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
