<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to t("site.name"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("navigation.home"), root_path %></li>
        <li><%= link_to t("navigation.products"), products_path %></li>
        <li><%= link_to t("navigation.help"), help_path %></li>
        <li>
          <%= link_to cart_path, class: "cart-link" do %>
            <i class="fas fa-shopping-cart"></i>
            <span class="cart-text"><%= t("navigation.cart") %></span>
            <span id="cart-items-count" class="cart-badge"><%= current_cart_items_count %></span>
          <% end %>
        </li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" id="account" class="dropdown-toggle">
              <%= t("navigation.account") %> <b class="caret"></b>
            </a>
            <ul id="dropdown-menu" class="dropdown-menu">
              <li><%= link_to t("navigation.profile"), current_user %></li>
              <li><%= link_to t("navigation.order_history"), orders_path %></li>
              <li><%= link_to t("navigation.settings"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("navigation.logout"), logout_path, data: { "turbo-method": :delete } %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("navigation.signup"), signup_path %></li>
          <li><%= link_to t("navigation.login"), login_path %></li>
        <% end %>
        <li><%= link_to_locale(:en) %></li>
        <li><%= link_to_locale(:vi) %></li>
      </ul>
    </nav>
  </div>
</header>
